:root {
  --primaryColor: rgb(255, 209, 102);
  --secondaryColor: rgb(239, 71, 111);
  --tetriaryColor: #f69873;
  --quaternaryColor: rgb(252, 252, 252);
  --quinaryColor: rgb(6, 214, 160);
}

button {
  cursor: pointer;
}

* {
  font-family: arial;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--primaryColor);
  color: rgb(0, 0, 0);
  align-items: center;
}

header div {
  min-width: 40px;
  min-height: 40px;
  margin: 5px;
  background-image: url("img/renebeathe.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 10em;
}

header h1 {
  margin: 0;
}

header h1:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

header nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
}

header nav p {
  margin: 0;
  padding: 10px;
}

header nav p:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: var(--primaryColor);
  padding-top: 10px;
  padding-bottom: 10px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div article {
  display: flex;
  flex-direction: row;
}

footer div div {
  height: 30px;
  width: 30px;
}

footer p,
footer h2 {
  margin: 0;
  padding: 0;
}

.post-it-note-container {
  display: flex;
}

.post-it-note {
  padding: 10px;
  flex-direction: column;
  width: 25%;
  height: 265px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.post-it-note:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.15);
  position: relative;
  left: 25px;
  animation-name: note;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
}

.note1 {
  background: linear-gradient(
    53.65deg,
    #e93e5d 10.36%,
    rgba(234, 82, 111, 0.61) 57.8%,
    #f69873 91.82%
  );
}

.note2 {
  background: linear-gradient(
    148.71deg,
    #f6b973 78.68%,
    #ffff76 99.81%,
    #ea526f 26.89%
  );
}

.note3 {
  background: linear-gradient(180deg, #ffffc2 0%, #ffff70 100%);
}

.note4 {
  background: linear-gradient(
    148.71deg,
    #ea526f 26.89%,
    #f6b973 78.68%,
    #ffff76 99.81%
  );
}

.note5 {
  background: linear-gradient(40deg, #e552ea 26.89%, #7e73f6 78.68%);
}

.notePicture {
  height: 60%;
  width: 30%;
  float: right;
}

@keyframes note {
  25% {
    rotate: 20deg;
    box-shadow: 10px 10px 7px rgba(7, 6, 6, 0.7);
  }
  50% {
    rotate: -20deg;
  }
  75% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}

.hover:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: text-shadow 1s;
  text-shadow: 1px 1px var(--secondaryColor);
}

.homePageBackground2 {
  position: relative !important;
  z-index: -1;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.homePageText {
  background-color: rgba(0, 0, 0, 0.568);
  position: absolute !important;
  top: 70vh;
  left: 55%;
  border-radius: 30px;
  border: 5px rgba(0, 0, 0, 0.726);
  color: rgba(255, 255, 255, 0.801) !important;
  height: 15vh;
  width: 40%;
  text-align: center !important;
}

.homeMenuScreen {
  background-image: url("img/faceShot.jpeg");
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.toggle-button {
  display: none;
}

.mobileHeader {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--primaryColor);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
}

.mobileHeader p {
  margin: 0;
  padding: 10px;
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
}

@media (max-width: 630px) {
  footer {
    flex-direction: column;
  }

  footer div:not(:last-child) {
    padding: 5px;
  }

  footer div:not(:last-child) {
    border-bottom: solid 1px black;
  }

  footer div article div {
    border: 0 !important;
  }

  .post-it-note-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .post-it-note {
    width: 90%;
  }

  header nav {
    display: none;
  }

  .homeMenuScreen {
    background-image: url("img/ballong3.jpg");
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .homePageText {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.568);
    top: 70vh;
    left: 10%;
    border-radius: 30px;
    border: 5px rgba(0, 0, 0, 0.726);
    color: rgba(255, 255, 255, 0.801) !important;
    height: auto;
    width: 75%;
  }

  .toggle-button {
    display: block;
    background-image: none;
  }

  .toggle-button div {
    min-height: 0px;
    min-width: 0px;
    background-image: none;
    background-color: black;
    width: 30px;
    height: 5px;
    z-index: 100;
  }

  header {
    justify-content: space-around;
  }

  @keyframes note {
    25% {
      rotate: 0deg;
      box-shadow: 0;
    }
    50% {
      rotate: 0deg;
    }
    75% {
      rotate: 0deg;
    }
    100% {
      rotate: 0deg;
    }
  }

  .post-it-note:hover {
    box-shadow: 0;
    transform: scale(1);
    position: relative;
    left: 0;
    animation-name: note;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
  }
}
