.portfolioArticl {
  background-color: var(--primaryColor);
  margin: 10px;
  padding: 10px;
}

.portfolioArticlColection {
  min-height: 84vh;
}

.portfolioArticl img {
  width: 100%;
}

.spesificPortfolioArticle {
  min-height: 84vh;
}

.spesificPortfolioArticle section {
  background-color: var(--primaryColor);
  margin: 10px;
  padding: 10px;
}

.spesificPortfolioArticle section h2 {
  padding-bottom: 10px;
}

.spesificPortfolioArticle section img {
  width: 100%;
}

@media (max-width: 630px) {
  .spesificPortfolioArticle {
    min-height: 74vh;
  }

  .portfolioArticlColection {
    min-height: 74vh;
  }
}
