.booking {
  display: flex;
  flex-direction: column;
}
.booking-info {
  display: flex;
  flex-direction: row;
}
.booking-info p {
  padding-left: 20px;
  margin: 0;
  width: 300px;
  white-space: none;
}
.booking-bilde {
  display: flex;
  width: 800px;
  min-width: 250px;
  height: 400px;
  background-image: url("img/renebeathe.jpg");
  background-size: cover;
  background-position: center;
}

.booking-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70em;
  justify-content: center;
  margin-bottom: 20px;
}
.booking-contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primaryColor);
  outline: 5px solid black;
  padding: 20px;
}
.booking-contactform h1 {
  margin: 0;
  padding: 0;
}
.booking-contactform button {
  background-color: var(--secondaryColor);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.2em;
  padding: 5px;
  font-size: 1em;
  width: 100%;
}
.booking-contactform button:hover {
  cursor: pointer;
  background-color: var(--quinaryColor);
}

.dayColection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #279af1 !important;
}

.dayColection h3 {
  height: 50px !important;
  font-size: 13px;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayColection h3:first-child {
  border: 0;
}

.curentDay {
  background-color: rgb(13, 255, 0) !important;
}

.isBooked {
  background-color: rgb(255, 115, 0) !important;
}
#calenderDiv {
  border: 5px solid black;
}
.calender th {
  background-color: var(--primaryColor);
  padding: 10px;
}
.calender tbody tr:nth-of-type(even) {
  background-color: rgb(221, 221, 221) !important;
}
.calender td {
  text-align: center;
  padding: 10px;
}
.calenderButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.calenderButtons button {
  border: 0;
  width: 50%;
  background-color: var(--primaryColor);
  padding: 10px;
}
.calenderButtons button:hover {
  background-color: rgb(205, 169, 63);
}
.calenderNotThisMonth {
  color: rgb(168, 168, 168);
}
