.booking {
  display: flex;
  flex-direction: column;
}

.booking div.booking-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.booking div.booking-info div.booking-bilde {
  background-image: url("img/renebeathe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 53%;
  background-position: center 37%;
  margin-bottom: 16px;
  border: 4px solid black;
}

.booking div.booking-info div.booking-text {
  background-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 16px;
  width: 33%;
}

.booking div.booking-info div.booking-text p {
  word-spacing: 1px;
}

/* Forum og kalender*/

.booking-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: 20px;
}

.booking-contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primaryColor);
  border: 5px solid black;
  border-left: 0;
  padding: 20px;
}

.booking-contactform h1 {
  margin: 0;
  padding: 0;
}

.booking-contactform button {
  background-color: var(--secondaryColor);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.2em;
  padding: 5px;
  font-size: 1em;
  width: 100%;
}

.booking-contactform button:hover {
  cursor: pointer;
  background-color: var(--quinaryColor);
}

.dayColection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #279af1 !important;
}

.dayColection h3 {
  height: 50px !important;
  font-size: 13px;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayColection h3:first-child {
  border: 0;
}

.curentDay {
  background-color: rgb(13, 255, 0) !important;
}

.isBooked {
  background-color: rgb(255, 115, 0) !important;
}

#calenderDiv {
  border: 5px solid black;
}

.calender th {
  background-color: var(--primaryColor);
  padding: 10px;
}

.calender tbody tr:nth-of-type(even) {
  background-color: rgb(221, 221, 221) !important;
}

.calender td {
  text-align: center;
  padding: 10px;
}

.calenderButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calenderButtons button {
  border: 0;
  width: 50%;
  background-color: var(--primaryColor);
  padding: 10px;
}

.calenderButtons button:hover {
  background-color: rgb(205, 169, 63);
}

.calenderNotThisMonth {
  color: rgb(168, 168, 168);
}

.calenderMonth {
  text-align: center;
  background-color: var(--primaryColor);
  padding: 10px;
  margin: 0;
}

.calenderBooked {
  color: white;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
}

.calenderInfoText {
  background-color: var(--primaryColor);
  margin: 0;
  color: rgb(255, 0, 0);
  text-align: center;
}

@media (max-width: 660px) {
  .booking div.booking-info {
    flex-direction: column;
    align-items: center;
  }

  .booking div.booking-info div.booking-bilde {
    width: 90%;
    height: 50vh;
  }

  .booking div.booking-info div.booking-text {
    background-color: #ffffff00;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    width: 90%;
  }

  /* Forum og kalender*/
  .booking-contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaryColor);
    border: 5px solid black;
    border-top: 0;
    padding: 0px;
    width: 258.781px;
  }

  .calender td {
    padding: 5px;
  }
  .calender th {
    padding: 5px;
  }
}
