section aside .selected {
  background-color: var(--quinaryColor);
}

.salgsArtikkel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondaryColor);
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: var(--primaryColor);
}
.salgsArtikkel:hover,
.salgsArtikkel:hover div {
  border-color: black;
  cursor: pointer;
}
.salgsArtikkel h3 {
  margin: 0;
}

.salgsArtikkel h4 {
  margin: 10px;
}

.salgsArtikkel p {
  margin: 10px;
}

.storeArticleImg {
  height: 250px;
  width: 95%;
  background-size: cover;
  background-position: center;
  border: 5px solid var(--secondaryColor);
}

.articleViewFocused {
  padding: 0;
}

.articleViewFocused :first-child {
  display: flex;
  justify-content: space-between;
}

.articleViewFocused section {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);

  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.articleViewFocused h1 {
  text-align: left;
  margin: 0;
}

.articleViewFlex {
  display: flex;
  flex-direction: row !important;
  background-color: red;
}

.articleViewFocused section article div {
  height: 400px;
  width: 400px;
  border: 10px solid var(--secondaryColor);
  background-size: cover;
  background-position: center;
  background-color: var(--tetriaryColor);
}

.articleBuySection {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tetriaryColor);
  font-size: 1.5em;
  flex-wrap: nowrap;
}

.articleBuySection p h2 {
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
}

.articleBuySection button {
  width: 100%;
}

.articleCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.storeColorSelectionSquare {
  width: 20px !important;
  height: 20px !important;
  border: 0 !important;
}

.storeColorSelection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ecommerce-section {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 73vh;
}

.ecommerce-section aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.ecommerce-section aside button {
  border: 0;
  border-bottom: 1px solid black;
}

.ecommerce-section aside :last-child {
  border-bottom: 1px solid black;
}

.ecommerce-section aside :nth-child(2) {
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}

.ecommerce-section aside button:hover {
  background-color: rgb(217, 217, 217);
}

@media (max-width: 630px) {
  .ecommerce-section {
    flex-direction: column;
    margin-top: 0;
    min-height: 68vh;
  }

  .ecommerce-section aside {
    border: 0;
  }

  .store-Navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .store-Navbar button {
    width: 30%;
  }

  .articleViewFlex {
    flex-direction: column !important;
  }

  .articleViewFocused section article div {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0;
  }

  .articleViewFocused section article h2 {
    margin: 10px;
  }

  .articleViewFocused section article p {
    margin: 10px;
  }
}
@keyframes login {
  0% {
    height: 0vh;
    width: 0%;
  }
  100% {
    height: 35vh;
    width: 30%;
  }
}
