.myModal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(76, 62, 62, 0.6);
  top: -0px;
  justify-content: center;
}
.myModal div:first-child {
  margin: 15%;
  background-color: var(--tetriaryColor);
  height: 56vh;
  width: 60%;
  top: 200px;
  flex-direction: column;
  text-align: center;
  border: solid 6px black;
  animation-name: myModalAnimation;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
.myModal div header {
  justify-content: center;
}
.myModal div header h1 {
  margin-left: auto;
  margin-right: 0;
}
.myModal div header h1:hover {
  cursor: auto;
  text-decoration: none;
}
.myModal div header p {
  margin-left: auto;
  color: red;
  font-size: 155%;
  margin-top: 0;
  margin-right: 10px;
}
.myModal div header p:hover {
  color: black;
  cursor: pointer;
}
.myModal div footer {
  padding: 24px;
}
@keyframes myModalAnimation {
  0% {
    height: 0vh;
    width: 0%;
  }

  100% {
    height: 56vh;
    width: 60%;
  }
}
@keyframes reduction {
  0% {
    height: 56vh;
    width: 60%;
  }
  100% {
    height: 5vh;
    width: 25%;
  }
}
.pay {
  background-color: var(--quinaryColor);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.2em;
  padding: 5px;
  font-size: 1em;
  width: 100px;
}
.pay:hover {
  cursor: pointer;
  background-color: var(--quaternaryColor);
  color: black;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.myForm input {
  width: 50%;
  margin-left: 25%;
  height: 3vh;
}
.myForm select {
  width: 50.8%;
  margin-left: 25%;
  height: 3.5vh;
}
.myForm select:hover {
  cursor: pointer;
}
.myForm label span {
  color: red !important;
  display: inline;
  float: none;
}
@media (max-width: 630px) {
  .myModal div footer {
    flex-direction: row;
    padding: 35px;
  }
  .myModal div:first-child {
    height: 58%;
  }
}
@media (max-width: 310px) {
  .myModal div:first-child {
    height: 58%;
  }
  .myModal div footer {
    padding: 25px;
  }
}
