.yourShoppingCart {
  flex-direction: column;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
.shoppingCartInput {
  width: 8%;
  max-width: 8%;
}
.yourShoppingCart tr:nth-child(even) td:first-child:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: text-shadow 1s;
  text-shadow: 1px 1px var(--secondaryColor);
}
.yourShoppingCart tr:nth-child(odd) td:first-child:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: text-shadow 1s;
  text-shadow: 1px 1px var(--primaryColor);
}

.yourShoppingCart tr:nth-child(even) {
  background: var(--primaryColor);
}
.yourShoppingCart tr:nth-child(odd) {
  background: var(--secondaryColor);
}
.yourShoppingCart tr:first-child {
  background-color: var(--tetriaryColor);
  border: solid 1px black;
}
.yourShoppingCart tr:first-child * {
  padding: 10px;
}
.colorBox {
  width: 20px !important;
  height: 20px !important;
  border: 3px solid rgba(119, 108, 108, 0.733) !important;
  display: inline-block;
  margin-left: 15px;
  padding: 0 !important;
  position: relative;
  bottom: 3px;
}
.yourShoppingCart tr td {
  text-align: center;
  border: 1px solid black;
}

.inputReduction {
  width: 200px;
}
.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.totalAndCheck {
  background-color: var(--tetriaryColor);
  display: flex;
  flex-direction: column;
}
.totalAndCheck * {
  margin: 0;
}
.totalAndCheck p {
  font-weight: bold;
}

.totalAndCheck button {
  background-color: var(--quinaryColor);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0.2em;
  padding: 5px;
  font-size: 1em;
  width: 100px;
}
.totalAndCheck button:hover {
  cursor: pointer;
  background-color: var(--quaternaryColor);
  color: black;
}
@media (max-width: 630px) {
  .colorBox {
    width: 20px !important;
    height: 20px !important;
    border: 3px solid rgba(119, 108, 108, 0.733) !important;
    display: inline-block;
    margin: 0;
    padding: 0 !important;
    align-self: center;
  }
  .flexDiv {
    display: flex;
    flex-direction: column;
  }
}
