.course-shop-layout {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.course-shopping-cart-layout {
  display: flex;
  margin: 20px;
}

.course-nav-layout {
  margin: 15px 0 15px 15px;
}

.course-nav-layout span:hover {
  cursor: pointer;
  margin-left: 1px;
  text-shadow: 0px 1px;
}

.course-header-layout {
  background: none;
  pointer-events: none;
  margin: 15px 0 15px 15px;
}

.course-article-layout {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background: var(--primaryColor);
  border-radius: 5px;
  padding: 10px;
  border: 5px solid var(--secondaryColor);
}

.course-article-layout h3 {
  font-size: 23px;
  margin: 15px 0 7px 0;
}

.course-article-layout span {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-article-layout button {
  font-weight: 600;
  font-size: 13px;
  padding: 10px 0;
  border: 0;
  background: var(--secondaryColor);
}

.course-article-layout button:hover {
  background: var(--quinaryColor);
  cursor: pointer;
}

.course-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 5px solid var(--secondaryColor);
}

.display-msg-layout {
  display: flex;
  justify-content: center;
}

#displayMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  width: fit-content;
  border: 5px solid var(--secondaryColor);
  background: var(--primaryColor);
  padding: 15px;
  border-radius: 5px;
}

#displayMsg p {
  font-size: 22px;
}

#displayMsg button {
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  background: var(--secondaryColor);
  border: 0;
  font-weight: 600;
}

#displayMsg button:hover {
  background: var(--quinaryColor);
}
