.course-shop-layout {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
  min-height: 77vh;
}

.course-shopping-cart-layout {
  display: flex;
  margin: 20px;
}

.course-nav-layout {
  margin: 15px 0 15px 15px;
  width: fit-content;
}

.course-nav-layout div:hover {
  cursor: pointer;
  margin-left: 1px;
  text-shadow: 0px 1px;
}

.course-header-layout {
  background: none;
  pointer-events: none;
  margin: 15px 0 15px 15px;
}

.course-article-layout {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background: var(--primaryColor);
  border-radius: 5px;
  padding: 10px;
  border: 5px solid var(--secondaryColor);
  height: fit-content;
}
.course-article-layout:hover .course-img {
  cursor: pointer;
  border: 5px solid black;
}
.course-article-layout:hover {
  cursor: pointer;
  border: 5px solid black;
}
.noHover:hover {
  cursor: auto !important;
  border: 5px solid var(--secondaryColor) !important;
}
.noHover:hover .course-img {
  border: 5px solid var(--secondaryColor) !important;
  cursor: auto !important;
}
.course-article-layout h3 {
  font-size: 23px;
  margin: 15px 0 7px 0;
}

.course-article-layout div {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-article-layout div:last-child {
  font-size: 15px;
  cursor: pointer;
}

.course-article-layout button {
  font-weight: 600;
  font-size: 13px;
  padding: 10px 0;
  border: 0;
  background: var(--secondaryColor);
}

.course-article-layout button:hover {
  background: var(--quinaryColor);
  cursor: pointer;
}

.course-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 5px solid var(--secondaryColor);
}

.display-msg-layout {
  display: flex;
  justify-content: center;
}

#displayMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  width: fit-content;
  border: 5px solid var(--secondaryColor);
  background: var(--primaryColor);
  padding: 15px;
  border-radius: 5px;
}

#displayMsg p {
  font-size: 22px;
}

#displayMsg button {
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  background: var(--secondaryColor);
  border: 0;
  font-weight: 600;
}

#displayMsg button:hover {
  background: var(--quinaryColor);
}

.course-to-check-out-layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding: 20px;
  border-top: 1px solid #000;
}

.course-to-check-out-layout span:first-child {
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
}

.course-to-check-out-layout button {
  margin-left: 20px;
  border: 0;
  padding: 6px 50px;
  font-size: 14px;
  background: #000;
  color: #fff;
}

.course-to-check-out-layout button:hover {
  background: #383838;
}

@media (max-width: 630px) {
  .course-img {
    width: 98%;
  }

  .course-article-layout button {
    width: 100%;
  }

  .course-article-layout {
    margin: 0;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    align-items: center;
  }

  .course-shop-layout {
    margin: 5px;
  }

  .course-shop-layout {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    min-height: 0;
  }
}

.course-check-out-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-check-out-content {
  display: flex;
  flex-direction: column;
  background: rgb(178, 178, 178);
  padding: 30px;
}

.course-check-out-layout button {
  border: 0;
  padding: 6px 50px;
  font-size: 14px;
  background: #000;
  color: #fff;
  margin: 10px 0;
}

.course-check-out-layout button:hover {
  background: #383838;
}

.course-current-article-img {
  width: 350px;
  height: 350px;
}

.course-current-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.course-current-article .top-side {
  display: flex;
  align-items: center;
  background: rgb(172, 172, 172);
  width: 600px;
  padding: 15px;
}

.course-current-article .right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 37px;
}

.course-current-article .right-side h2 {
  margin: 0 0 20px 0;
  font-size: 40px;
}

.course-current-article .right-side p {
  margin: 0;
  font-size: 25px;
}

.course-current-article .right-side button {
  margin: 20px 0 0 0;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  border: 0;
}

.course-current-article .right-side button:hover {
  background: rgb(68, 68, 68);
}
.course-current-article .bottom-side {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: rgb(172, 172, 172);
  padding: 15px;
}

@media (max-width: 650px) {
  .course-current-article div.top-side {
    flex-direction: column;
    width: 90%;
  }

  .course-current-article div.bottom-side {
    width: 90%;
  }

  .course-current-article .right-side {
    margin: 0;
  }

  .course-current-article .left-side {
    width: 96%;
  }

  .course-current-article-img {
    width: 96%;
    height: 96%;
  }
}
